@model IEnumerable<MvcMovie.Models.Movie>

@{
ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Genre</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>@item.Title</td>
        <td>@item.ReleaseDate.ToShortDateString()</td>
        <td>@item.Genre</td>
        <td>@item.Price</td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </td>
    </tr>
    }
    </tbody>
</table>
